@if (type === 'laugh') {
  <div class="emoji emoji--laugh">
    <div class="emoji__face">
        <div class="emoji__eyes"></div>
        <div class="emoji__mouth">
        <div class="emoji__tongue"></div>
        </div>
    </div>  
  </div>
}

@if (type === 'wow') {
  <div class="emoji emoji--wow">
    <div class="emoji__face">
        <div class="emoji__eyebrows"></div>
        <div class="emoji__eyes">
            <div class="emoji_eye emoji_eye_left"></div>
            <div class="emoji_eye emoji_eye_right"></div>
        </div>
        <div class="emoji__mouth"></div>
    </div>
  </div>
}

@if (type === 'love') {
  <div class="emoji emoji--love">
    <div class="emoji__heart"></div>
  </div>
}